<% if @show_matrix %>
  <script type="text/javascript">
    Event.observe(window, 'load', function(evt) {
        $('<%= "bulk_select_#{@filter_form_update}" %>').onsubmit();
        });
  </script>
<% end %>
<%= form_remote_tag :url => url_for(:action => "matrix_refresh"),
    :update => @filter_form_update,
    :before => "Spinner.show($('#{@filter_form_update}'));",
    :complete => "Spinner.hide($('#{@filter_form_update}'));",
    :html => {
      :onsubmit => "if (!$('#{@filter_form_update}')) { this.submit(); return true; }",
      :class => "bulk_select",
      :action => url_for({}),
      :id => "bulk_select_#{@filter_form_update}"
    }
  %>
  <%= hidden_field_tag("bulk_tab", "template", :id => nil) %>
  <label for="selected_template" class="templates">Select template:</label>
  <%= select_tag("selected_template", grouped_options_for_select([ ["", [""]] ] + @template_styles.to_options, @selected_template), :onchange => "this.form.onsubmit()", :id => nil) %><br/>
  <label for="selected_freeze" class="templates">Show data from:</label>
  <%= select_tag("selected_freeze", options_for_select([
                                                       ["Worm/Fly - Newest data", ""],
                                                       [ "Fly - Apr 01, 2011", "dmelanogaster_2011-04-02" ],
                                                       [ "Fly - Oct 19, 2009", "dmelanogaster_2009-10-19" ],
  ], @selected_freeze_id), :onchange => "this.form.onsubmit()", :id => nil) %>
  <br/>
  <!--
  <label for="matrix_style" class="bulk_select">Include N/A headings:</label>
  <%= check_box_tag("include_na_columns", "yes", @include_na_columns, :onchange => "this.form.onsubmit();", :id => nil) %>
  <span style="font-size: 80%">(For instance, experiments on a whole organism show with a Not Applicable cell line.)</span>
  -->
  <br style="clear: both"/>
</form>
