<%
  @filter_form_update = "matrix_display"
%>
<script type="text/javascript">
Event.observe(window, 'load', function(evt) {
  // Tabs
  YUI().use("yui", "tabview", function(Y) {
      var selected = '<%= params[:bulk_tab] %>';
      var tabview = new Y.TabView({srcNode:'#content_tabs'});
      tabview.after("render", function(evt) { $('content_tabs').setStyle({display: 'block'}) });
      tabview.render();
      tabview.after("selectionChange", function(evt) {
        var href = evt.newVal.get('srcNode').get('href');
        var panel = $(href.substring(href.indexOf('#')+1));
        if (panel) {
          var form = panel.down("form");
          if (form) { form.onsubmit(); }
        }
        });
      tabview.on("selectionChange", function(evt) { $('<%=@filter_form_update%>').update(""); } );

      // Preselected tab on reload
      if (selected) {
        var selected_tab = $$('DIV#content_tabs UL LI A[href=#' + selected + ']');
        if (selected_tab.size() > 0) {
          tabview.selectChild(selected_tab.first().up('LI').previousSiblings().size());
        }
      }
  });
});
function showModMine(ids) {
  if (!ids || ids.size() == 0) {
    alert("No projects selected!");
    return false;
  }
  var modmineURL = "http://intermine.modencode.org/query/portal.do?externalids=#{ids}&class=Submission";
  var finalURL = modmineURL.interpolate({ 'ids': ids.map(function (id) { return "modENCODE_" + id; }).join(",") });
  window.open(finalURL, "_blank");
}
var infoDiv;
function showInfoDiv(e, content, type, rows, cols) {
  type = type || 'input'
  if (!infoDiv) {
    var textBox;
    if (type == 'textarea') {
      rows = rows || 1;
      cols = cols || 30;
      textBox = new Element('textarea', { rows: rows, cols: cols });
    } else {
      width = rows || '200';
      width = '' + width + 'px';
      textBox = new Element('input', { type: 'text', rows: rows, cols: cols });
      type = 'input';
    }
    infoDiv = new Element('div').setStyle({ backgroundColor: '#bbaaaa', padding: '8px', position: 'absolute', display: 'none' }).insert(textBox);
    textBox.observe('click', function (evt) { evt.findElement('input').select(); evt.stop(); });
    infoDiv.documentListener = function(evt) { if (evt.findElement('div') != infoDiv) { infoDiv.hide(); document.stopObserving('click', infoDiv.documentListener); infoDiv.remove(); infoDiv = undefined; } };
    document.body.insert(infoDiv);
  }

  var textBox = infoDiv.down(type);
  textBox.setValue(content);

  infoDiv.setStyle({
    left:  "" + (e.pointerX()+10) + "px",
    top: "" + (e.pointerY()+10) + "px"
  });

  infoDiv.show();
  textBox.focus();
  textBox.select();
  e.stop();
  document.observe('click', infoDiv.documentListener);
}
function viewList(e, ids) {
  if (!ids || ids.size() == 0) {
    alert("No projects selected!");
    return false;
  }
  showInfoDiv(e, ids.join(", "), 'input');
}
function viewURLs(e, ids) {
  if (!ids || ids.size() == 0) {
    alert("No projects selected!");
    return false;
  }
  var base_url = 'http://submit.modencode.org<%= url_for(:controller => :public, :action => :download_tarball, :id => '9999', :structured => true ).sub('9999', '#{id}') %>';
  urls = ids.map(function(id) { return base_url.interpolate({ 'id': id }); });
  showInfoDiv(e, urls.join('\n'), 'textarea', (ids.size() > 20 ? 20 : ids.size()), 100);
}

</script>

<div id="content_tabs">
  <ul>
    <li><a href="#templates">Templates</a></li>
    <li><a href="#filter">Filter</a></li>
    <li><a href="#advanced">Advanced</a></li>
  </ul>
  <div>
    <div id="templates">
      <%= render :partial => "filter_form_template" %>
    </div>
    <div id="filter">
      <%= render :partial => "filter_form_simple" %>
    </div>
    <div id="advanced">
      <%= render :partial => "filter_form_advanced" %>
    </div>
  </div>
</div>
<br style="clear:both"/>

<div id="matrix_display"></div>

<br style="clear: both"/>
Note: colored squares indicate the presence of data.
