<h1>Instructions</h1>
Select the freeze dataset you wish to download and adjust the filters to focus
on the datasets of interest. The URL links at the bottom of the page will be
updated as you do so. When you are satisfied with the list, you may either
download the datasets manually, or download them in bulk by cutting and pasting
either of the two "magic invocations" in the boxes below onto your command line
shell. Both require the "wget" program, while the second requires Perl and the
XML::Simple module to be installed as well. As you update the filters, these
invocations will change.

<h1>Generated commands</h1>
This page's "permalink" URL (to bookmark the currently selected options) is: <%= link_to "here", @reduced_params.merge({:action => :index}) %>.<br/>
For computational access, An XML version is: <%= link_to "here", @reduced_params.merge({:action => :index, :format => "xml"}) %>.<br/>
<br/>
You can fetch the data with:<br/>
<code>
  wget 'http://submit.modencode.org<%= url_for( @reduced_params.merge({:action => :index}) ) %>' -O - | grep download_tarball | wget -i - --base='http://submit.modencode.org//' --force-html
</code>
The above will just fetch the URLs from the section at the bottom of the page, as-is.<br/>
If you have Perl and XML::Simple installed, and you want to name the files after the experiments, you can do this:<br/>
<code>
  wget -O - 'http://submit.modencode.org<%= url_for( @reduced_params.merge({:action => :index, :format => "xml"}) ) %>' | perl -e '
  use XML::Simple;
  $/ = undef;
  $records = XMLin(<>)->{"record"};
  @records = (ref($records) eq "ARRAY") ? @$records : $records;
  foreach $record (@records) { system("wget '\''" . $record->{"url"} . "'\''"); system("mv -v '\''" . $record->{"ID"} . ".tgz'\''* '\''" . $record->{"Name"} . ".tgz'\''"); }
  '
</code>
<h1>Filter data</h1>
<%= link_to "Reset", :action => :index %><br/><br/>
<%= form_tag url_for(:action => :index), { :method => :post, :class => "bulk_select" } %>
  <label for"selected_freeze" class="bulk_select">Select freeze date:</label>
  <%= select_tag("selected_freeze", grouped_options_for_select(@freeze_files, @freeze_file), :onchange => "this.form.submit()") %>
  <br/>
  <label for="selected_experiment_type" class="bulk_select">Select experiment type:</label>
  <%= select_tag("selected_experiment_type[]", options_for_select(@experiment_types, :selected => @experiment_type, :disabled => @disabled_experiment_types), :onchange => "this.form.submit()", :multiple => true, :size => 5) %>
  <%= link_to_function("All", "$A($(this).previous('select').options).each(function(elem) { elem.selected = true; }); $(this).previous('select').form.submit();") %><br/>
  <br/>
  <label for="selected_experiment_type" class="bulk_select">Select data type:</label>
  <%= select_tag("selected_data_type[]", options_for_select(@data_types, :selected => @data_type, :disabled => @disabled_data_types ), :onchange => "this.form.submit()", :multiple => true, :size => 5) %>
  <%= link_to_function("All", "$A($(this).previous('select').options).each(function(elem) { elem.selected = true; }); $(this).previous('select').form.submit();") %><br/>
  <% if @data_type && @data_type.size > 0 then %>
    <div class="sample_characteristics">
      <span style="float: left">
        <label for="selected_tissue" class="bulk_select">Tissue:</label>
        <%= link_to_function("All", "$A($(this).next('select').options).each(function(elem) { elem.selected = true; }); $(this).next('select').form.submit();") %><br/>
        <%= select_tag("selected_tissue[]", options_for_select(@tissues, @tissue), :onchange => "this.form.submit()", :multiple => true, :size => 5) %>
      </span><span style="float: left">
        <label for="selected_strain" class="bulk_select">Strain:</label>
        <%= link_to_function("All", "$A($(this).next('select').options).each(function(elem) { elem.selected = true; }); $(this).next('select').form.submit();") %><br/>
        <%= select_tag("selected_strain[]", options_for_select(@strains, @strain), :onchange => "this.form.submit()", :multiple => true, :size => 5) %>
      </span><span>
        <label for="selected_cell_line" class="bulk_select">Cell Line:</label>
        <%= link_to_function("All", "$A($(this).next('select').options).each(function(elem) { elem.selected = true; }); $(this).next('select').form.submit();") %><br/>
        <%= select_tag("selected_cell_line[]", options_for_select(@cell_lines, @cell_line), :onchange => "this.form.submit()", :multiple => true, :size => 5) %>
      </span>
    </div>
    <div class="sample_characteristics">
      <span style="float: left">
        <label for="selected_stage" class="bulk_select">Stage:</label>
        <%= link_to_function("All", "$A($(this).next('select').options).each(function(elem) { elem.selected = true; }); $(this).next('select').form.submit();") %><br/>
        <%= select_tag("selected_stage[]", options_for_select(@stages, @stage), :onchange => "this.form.submit()", :multiple => true, :size => 5) %>
      </span><span>
        <label for="selected_antibody" class="bulk_select">Antibody:</label>
        <%= link_to_function("All", "$A($(this).next('select').options).each(function(elem) { elem.selected = true; }); $(this).next('select').form.submit();") %><br/>
        <%= select_tag("selected_antibody[]", options_for_select(@antibodies, @antibody), :onchange => "this.form.submit()", :multiple => true, :size => 5) %>
      </span>
    </div>
  <% end %>
</form>

<h1>URLs:</h1>
<div id="urllist">
  <% @selected_data.each do |project_info| %>
    <span style="float: left; width: 5em;"><%= project_info["ID"] %></span>
    <%= link_to(project_info["Name"], { :controller => :public, :action => :download_tarball, :id => project_info["ID"], :structured => true } ) %><br/>
  <% end %>
</div>
