<h1>Listing experiment_browsers</h1>

<table class="list" border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>View</th>
  </tr>
<% for experiment in @experiments %>
  <tr>
    <td><%= experiment.uniquename %></td>
    <td><%= experiment.description.length > 0 ? experiment.description : "&nbsp;" %></td>
    <td>
      <%= link_to_remote "Show spreadsheet",
        :before => "$('experiment_browser').update('Loading...')",
        :url => { :action => :experiment, :id => experiment.id, :use_rowspan => :true },
        :update => "experiment_browser"
      %>
      <br/>
      <%= link_to_remote "Show spreadsheet w/o rowspan",
        :before => "$('experiment_browser').update('Loading...')",
        :url => { :action => :experiment, :id => experiment.id, :use_rowspan => :false },
        :update => "experiment_browser"
      %>
      <br/>
      <%= link_to_remote "Show individual protocols",
        :before => "$('experiment_browser').update('Loading...')",
        :url => { :action => :applied_protocol_browser, :experiment_id => experiment.id },
        :update => "experiment_browser"
      %>
    </td>
  </tr>
<% end %>
</table>
<br/><br/>

<div id="experiment_browser"></div>
